src/main/mule/jenkinstest.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d52501d9-96c2-4b4e-90fc-fc1fa21ca554" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="jenkinstestFlow" doc:id="652c1b49-82d9-45ed-88bb-3b170a0710e4" >
		<http:listener doc:name="Listener" doc:id="c3096f33-2813-41d5-949f-5dfcad6feb7f" config-ref="HTTP_Listener_config" path="/testone"/>
		<logger level="INFO" doc:name="Logger" doc:id="fa8c0b69-d7aa-4e96-8ad7-f89610178ebb" message="input payload #[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="e5054d03-9153-4de1-8225-be1363c57414" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="7e55a988-7630-4c81-a3a9-b788d0020dc2" message="output payload #[payload]"/>
	</flow>
</mule>
